<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:th="http://www.thymeleaf.org">
   
<head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="gauto | Modèle HTML de Location de Voitures par Themescare">
      <meta name="keyword" content="taxi,voiture,location,embauche,transport">
      <meta name="author" content="Themescare">
      
      <!-- Titre -->
      <title>Carbnb</title>
      <!-- Favicon -->
            <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
<link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/owl.theme.default.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/jquery.datepicker.css}">
<link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
<link rel="stylesheet" th:href="@{/assets/css/lightgallery.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/jquery-clockpicker.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/slicknav.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/style.css}">
<link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
<link rel="stylesheet" th:href="@{/assets/css/alertes.css}">
      
        <script th:inline="javascript">
	function validate() {
        if (document.f.username.value == "" && document.f.password.value == "") {
            alert(/*[[#{message.username} + #{message.password}]]*/);
            document.f.username.focus();
            return false;
        }
        if (document.f.username.value == "") {
            alert(/*[[#{message.username}]]*/);
            document.f.username.focus();
            return false;
        }
        if (document.f.password.value == "") {
            alert(/*[[#{message.password}]]*/);
            document.f.password.focus();
            return false;
        }
    }
    
</script>
   </head>
 
   <body>
  <section class="gauto-header-top-area">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="header-top-left">
                     <p>Besoin d'aide ? <i class="fa fa-phone"></i> Appel : +321 123 45 978 
                     </p>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="header-top-right">
                     <a th:href="@{/Voitures/login}">
                     <i class="fa fa-key"></i>
                     Connexion
                     </a>
                     <a th:href="@{/Voitures/register}">
                     <i class="fa fa-user"></i>
                     Inscription
                     </a>
                     <div class="dropdown">
                        <button class="btn-dropdown dropdown-toggle" type="button" id="dropdownlang" data-toggle="dropdown" aria-haspopup="true">
                        <img th:src="@{/assets/img/france.png}" alt="langue" class="fr" /> Francais
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownlang">
                           <li><img th:src="@{/assets/img/en.png}" alt="langue" /> Anglais</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>

       
      <!-- Zone du Menu Principal Début -->
      <section class="gauto-mainmenu-area">
         <div class="container">
            <div class="row">
               <div class="col-lg-9">
                  <div class="mainmenu">
                     <nav>
                        <ul id="gauto_navigation">
                           <li class="active"><a th:href="@{/Voitures/index}">accueil</a></li>
                           <li><a th:href="@{/Voitures/about}">à propos</a></li>
                           <li>
                              <a href="#">Services</a>
                              <ul>
                                 <li><a th:href="@{/Voitures/service}">Réservation/Location</a></li>
                                 <li><a th:href="@{/Voitures/service/details}">Devenir Partenaire</a></li>
                                 <li><a th:href="@{/Voitures/service/details}">Publier une location</a></li>
                                 
                              </ul>
                           </li>
                           <li>
                              <a href="#">voitures</a>
                              <ul>
                                 <li><a th:href="@{/Voitures/car/listing}">liste des voitures</a></li>
                                 <li><a th:href="@{/Voitures/car/booking}">réservation de voiture</a></li>
                              </ul>
                           </li>
                           <li><a th:href="@{/Voitures/gallery}">galerie</a></li>
                          
                           <li><a th:href="@{/Voitures/contact}">contact</a></li>
                        </ul>
                     </nav>
                  </div>
               </div>
              
                  <div class="header-action">
                     <a th:href="@{/Voitures/location}"><i class="fa fa-car"></i> Mettre Mon Location</a>
                  </div>     
        </div>
                      
                     <!-- Boîte de Recherche Début -->
                     
                     </div>
                     <!-- Boîte de Recherche Fin -->
           
      </section>
       
      <!-- Zone du Menu Principal Début -->
     
       
      <!-- Zone du Fil d'Ariane Début -->
      <section class="gauto-breadcromb-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="breadcromb-box">
                     <h3>Page d'Inscription</h3>
                     <ul>
                        <li><i class="fa fa-home"></i></li>
                        <li><a th:href="@{/Voitures/index}">Accueil</a></li>
                        <li><i class="fa fa-angle-right"></i></li>
                        <li>Connexion</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Zone du Fil d'Ariane Fin -->
       
      <!-- Zone de Connexion Début -->
      <section class="gauto-login-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="login-box">
                     <div class="login-page-heading">
                        <i class="fa fa-key"></i>
                        <h3>Se Connecter</h3>
                     </div>
                     <form name='f' action="/Voitures/login" method='POST' onsubmit="return validate();">
                        <div class="account-form-group">
                           <input type="text" placeholder="Email" name="username" required="required">
                           <span id="emailError" class="alert alert-danger" style="display:none"></span>
                           <i class="fa fa-envelope-o"></i>
                           
                        </div>
                        <div class="account-form-group">
                           <input type="password" placeholder="Mot de passe" name="password" required="required">
                          <span id="passwordError" class="alert alert-danger" style="display:none"></span>
                           
                           <i class="fa fa-lock"></i>
                           
                        </div>
                        <div class="remember-row">
                           <p class="checkbox remember signup">
                              <input class="checkbox-spin" type="checkbox" id="Freelance">
                              <label for="Freelance"><span></span>accepter les termes & conditions</label>
                           </p>
                        </div>
                        <p>
                           <button type="submit" class="gauto-theme-btn"  name="envoyer" th:value="#{label.form.submit}">Connecter maintenant</button>
                        </p>
                     </form>
                     <div class="login-sign-up">
    <a class="cart-btn-1" th:href="@{/registration.html}" th:text="#{label.form.loginSignUp}"></a>
    </div>
            <!--  <a class="btn btn-default button1" th:href="@{/registrationCaptcha.html}" th:text="#{label.form.loginSignUpCaptcha}"></a> -->
            <a class="cart-btn-1" th:href="@{/forgotPassword.html}" th:text="#{message.resetPassword}"></a>
            <hr>
                                             
      <button class="gauto-theme-btn" onclick="window.location.href='/oauth2/authorization/google'">
    <i class="fa fa-google"></i> Connexion avec google 
</button>                     
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Zone de Connexion Fin -->
       
             <div th:replace="Voitures/footer.html :: footer"></div>

      <!--Jquery js-->
      <script th:src="@{/assets/js/jquery.min.js}"></script>
      <!-- Popper JS -->
      <script th:src="@{/assets/js/popper.min.js}"></script>
      <!--Bootstrap js-->
      <script th:src="@{/assets/js/bootstrap.min.js}"></script>
      <!--Owl-Carousel js-->
      <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
      <!--Lightgallery js-->
      <script th:src="@{/assets/js/lightgallery-all.js}"></script>
      <script th:src="@{/assets/js/custom_lightgallery.js}"></script>
      <!--Slicknav js-->
      <script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>
      <!--Magnific js-->
      <script th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
      <!--Nice Select js-->
      <script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
      <!-- Datepicker JS -->
      <script th:src="@{/assets/js/jquery.datepicker.min.js}"></script>
      <!--ClockPicker JS-->
      <script th:src="@{/assets/js/jquery-clockpicker.min.js}"></script>
      <!--Main js-->
      <script th:src="@{/assets/js/main.js}"></script>
      <script th:src="@{/assets/js/script.js}"></script>
   </body>
</html>