<div th:fragment="notification">

                <div class="notif">
                <div class="header-notification-box">
                <div class="login dropdown">
                <div class="notification-icon" id="notificationIcon">
                <i class="fa fa-bell"></i> <!-- Icône de notification -->
                <span class="badge" style="display:none;">2</span> <!-- Badge pour les notifications non lues -->
</div>
        <div class="dropdown-menu notification-dropdown" aria-labelledby="dropdownAlerts">
           
        </div>
    </div>
</div>
                      
</div>             
                  </div>
